#Backend
backend/.venv/
backend/.env
backend/__pycache__/*
backend/utils/__pycache__/__init__.cpython-314.pyc
backend/utils/__pycache__/ai_client.cpython-314.pyc
backend/*.pyc
backend/model/*.joblib

#Frontend
.DS_Store
.vscode/
backend/routes/__pycache__/__init__.cpython-314.pyc
backend/routes/__pycache__/classify_routes.cpython-314.pyc
backend/utils/__pycache__/extract_text.cpython-314.pyc
backend/app.py
backend/services/__pycache__/classifier_service.cpython-314.pyc
